.mainDiv{
  background-color:#B079CF  ;
  text-align: center;
 padding:2%;
}
.eduDiv{
  background-color:#79A4CF  ;
  display: flex;
  justify-content: space-between;
}
.pDiv{
  width: 30%;
  text-align: center;
  display: flex;
  justify-content: space-between;
}
.sscDiv{
 width: 30%;
  background-color: : #CF79A0;
  text-align: center;
border: solid black;
}
.interDiv{
  width: 30%;
  background-color: #CF7996  ;
  text-align: center;
border: solid black;
}
.btechDiv{
  width: 30%;
  background-color: #ABCF79  ;
  text-align: center;
border: solid black;
}
